[Unit]
Description=Runs shell script daily to get GPS ftp files
Wants=gnss_ftp.timer

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash /usr/local/bin/get_gnss_ftp.sh

[Install]
WantedBy=multi-user.target

